@charset 'UTF-8';

body {
	margin: 0;

	#header {
		position: fixed;
		width: 20vw;
		max-width: 20vw;
		height: 100vw;
		background-color: #ad4217;
		text-align: right;
	}

	#header-inner {
		position: relative;
		margin: 0 auto;
		min-height: 100px;

		h1 {
			margin: 0;
			padding-right: 18px;
		}
	}

	#logo {
		color: #fff;
		font-size: 4rem;
		font-weight: normal;
		font-family: 'Roboto Condensed', sans-serif;
		text-decoration: none;
		white-space: nowrap;
	}

	#nav {
		.navlink {
			display: block;
			height: 2.25em;
			line-height: 2.45em;
			font-size: 18px;
			font-family: 'Fjalla One', sans-serif;
			letter-spacing: 1.5px;
			color: #f6d4ca;
			padding-right: 18px;
			
			outline: none;
			
			text-decoration: none;
			text-transform: uppercase;
			text-align: right;
			
			transition: color 0.3s linear,
						text-shadow 0.3s linear,
						border-color 0.3s linear,
						background-color 0.3s linear;

			&:hover {
				background-color: #e48062;
			}

			&.active {
				color: #3f3f3f;
				background-color: #fff;
			}
		}
	}

	.content {
		width: 95%;
		color: #3f3f3f;
		font-family: 'Roboto', 'Open Sans', sans-serif;
		line-height: 1.65rem;
	}

	#main {
		position: relative;
		left: 20vw;
		float: left;
		width: 60vw;

		p {
			@extend .content;
		}

		/*.section-divider {
			border: 0;
			height: 1px;
			@import '_mixins';
			@include linear-gradient(left, #ad4217, #14486f);
		}*/
	}

	.main-section {
		@extend .content;
		
		margin: 30px auto;

		.subheading {
			font-family: 'Open Sans', sans-serif;
		}

		h2 {
			@extend .subheading;
			
			margin: 0 0 0.65em;
			font-size: 24px;
			font-weight: bold;
		}

		h3 {
			@extend .subheading;
			
			font-size: 20px;
		}

		a {
			color: #d45e2e;

			&:hover {
				color: #dd7f5a;
			}
		}

		li {
			margin-bottom: .45em;
		}

		article {
			margin-left: 2%;
			margin-bottom: 2.25em;
		}
		
		.job-description {
			ul {
				margin-top: 10px;
			}
		}

		.school-line {
			margin-bottom: .25em;
		}

		&#development {
			li {
				list-style-type: none;
			}
		}

		.links-subsection {
			ul {
				margin-left: .5em;
				padding: 0;

				li {
					margin-bottom: 1.25em;
				}
			}
		}

		.resume-subsection {
			margin-left: .5em;
		}

		&#contact {
			margin-bottom: 360px;
		}
	}



	.inline {
		display: inline;
	}

	.work-experience.old {
		display: none;
	}

	#collapser {
		display: block;
		margin: 0 auto;
		font-size: 48px;
		text-align: center;
		cursor: pointer;
	}

	.error {
		color: red;
	}

	.error a {
		
	}



	footer {
		position: fixed;
		right: 0;
		width: 20vw;
		height: 100vh;
		background-color: #14486f;

		* {
			color: #fff;
			font-family: 'Roboto', 'Open Sans', sans-serif;
		}

		h2, blockquote {
			margin-left: 18px;
		}

		blockquote {
			margin-bottom: 30px;
		}

		form {
			margin-left: 28px;

			label {
				float: left;
				margin-right: 0.5vw;
				width: 4vw;
				line-height: 32px;
				white-space: nowrap;
			}

			.textbox, textarea, select, #submit, option {
				font-family: 'Roboto', 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: bold;
				color: #6f6f6f;
			}

			.textbox, select {
				margin-bottom: 2px;
				width: 10vw;
				padding-left: 5px;
				padding-right: 5px;
				line-height: 26px;
			}

			select {
				width: 10.7vw;
				height: 32px;
				line-height: 32px;
			}

			textarea {
				width: 15vw;
				height: 140px;
			}

			#submit {
				margin-top: 8px;
				padding: 2px 8px;
				font-family: 'Roboto', 'Open Sans', sans-serif;
				font-size: 15px;
			}
		}

		.contact-message {
			display: none;
			margin: 10px;
			padding: 10px;
		}

		#contact-success-message {
			background-color: #209060;
		}

		#contact-failure-message {
			background-color: #952b2b;
		}
	}
}

.clear {
	clear: both;
}